* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(232, 207, 255);
}

mian {
    background-color: aliceblue;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
}
